.slider-content-w{
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 5;
}

.slider-content{
    padding: 0 35px;
}
.slider-button-w{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.Home .section--slider{
    padding-top: 35%;
}
@media screen and (min-width: 600px){
    .Home .section--slider{
        padding-top: 25%;
    }
}
@media screen and (min-width: 768px){

    .slider-content-w{
        position: absolute;
        bottom: 40px;
        right: 0;
        text-align: right;
    }
    /* .slider-content{
        padding-right: 12.5%;
    } */
  
    .Home .section--slider{
        padding-top: 15%;
    }
}  

@media screen and (min-width: 960px){
 
    .Home .section--slider{
        padding-top: 10%;
    }
}

