.slider-content-w{
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 5;
}

.slider-content{
    padding: 0 35px;
}
.slider-button-w{
    justify-content: flex-start;
    margin-top: 10px;
}
@media screen and (min-width: 768px){

    .slider-content-w{
        position: absolute;
        bottom: 40px;
        right: 0;
        text-align: right;
    }
    /* .slider-content{
        padding-right: 12.5%;
    } */

    .slider-button-w{
        display: flex;
        justify-content: flex-end;
        
    }


}  

@media screen and (min-width: 1000px){
 

    .Home .section--slider{
        padding-top: 10%;
    }
}

