.Nav {
  background: white;
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid var(--lightGrey);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.025);
}

.Nav--Container {
  display: flex;
  align-items: center;
  /* height: 6rem; */
}

/* .Nav--Links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
} */

.Nav--Links > * + * {
  margin-left: 1rem;
}

.Nav .Logo {
  margin-right: 3rem;
  position: relative;
}

/* .Nav--MenuButton {
  display: none !important;
} */

.NavLink {
  padding: 0.5rem 1rem;
  display: block;
  font-weight: 500;
  transition: color 0.2s, border-bottom-color 0.2s;
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid;
  border-bottom-color: transparent;
}


.NavLink:hover::after,
.NavLink.active::after,
.NavLink:focus::after{
  content: "";
  background:#748D9B;
  width:18px;
  height: 2px;
  position: absolute;
  left: 25%;
  top:50%;
  transform:translate(-25%, -50%);
}

@media screen and (min-width: 768px){
  .NavLink:hover::after,
  .NavLink.active::after,
  .NavLink:focus::after{
    left: -20px;
    transform:translateY(-50%);
  }
}

.Nav--Group {
  position: relative;
  cursor: pointer;
}

.Nav--GroupParent {
  padding-right: 3rem;
}

.Nav--GroupParent::after {
  content: '';
  position: absolute;
  top: calc(50% - 0.2rem);
  right: 1rem;
  border-bottom: 2px solid var(--darkGrey);
  border-right: 2px solid var(--darkGrey);
  display: block;
  height: 0.8rem;
  width: 0.8rem;
  transition: 0.3s ease all;
  transform: translateY(-50%) rotate(45deg);
}

.Nav--GroupLinks {
  position: absolute;
  top: 100%;
  left: 0;
  width: auto;
  background: white;
  /* opacity: 0; */
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease all;
}

.Nav--Group.active .Nav--GroupLinks {
  max-height: 100vh;
  opacity: 1;
  transition: 0.6s ease all;
}

.Nav--Group.active .Nav--GroupParent::after {
  top: calc(50% + 0.2rem);
  transform: translateY(-50%) rotate(-135deg);
}


.Nav--GroupLink {
  display: block;
  position: relative;
  width: 15rem;
}

/* @media (max-width: 600px) { */
  .Nav--Container {
    display: flex;
  }

  .Nav--MenuButton {
    display: block ;
    margin-left: auto;
    z-index: 1;
    position: absolute;
    right: 15px;
    /* top: 22px; */
  }
  .Nav .Logo {
    z-index: 1;
  }

  @media screen and (min-width: 768px){
    .Nav--MenuButton{
      top: 22px;
    }
  }

  .Nav--Links {
    display: none;
    align-items: center;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    animation: Nav--Links 0.2s ease;
  }

  .Nav--Links > * + * {
    margin-left: 0;
    margin-top: 1rem;
  }

  .Nav-active .Nav--Links {
    display: flex;
  }

  .Nav-active .NavLink {
    animation: Nav--Link 0.3s ease-out;
    animation-fill-mode: both;
  }

  .Nav .NavLink {
    font-size: 2.5rem;
    font-weight: 300;
  }

  .Nav .NavLink:nth-of-type(2) {
    animation-delay: 0.1s;
  }
  .Nav .NavLink:nth-of-type(3) {
    animation-delay: 0.2s;
  }
  .Nav .NavLink:nth-of-type(4) {
    animation-delay: 0.3s;
  }
  .Nav .NavLink:nth-of-type(5) {
    animation-delay: 0.4s;
  }
  .Nav .NavLink:nth-of-type(6) {
    animation-delay: 0.5s;
  }
  .Nav .NavLink:nth-of-type(7) {
    animation-delay: 0.6s;
  }
  .Nav .NavLink:nth-of-type(8) {
    animation-delay: 0.7s;
  }
  .Nav .NavLink:nth-of-type(7) {
    animation-delay: 0.6s;
  }

  .Nav--GroupLinks {
    position: relative;
    text-align: center;
  }

  .Nav--GroupLinks .NavLink {
    font-size: 1.5rem;
    width: auto;
  }
/* } */

/*Desktop Nav */

@keyframes Nav--Link {
  from {
    transform: translate(0rem, 1rem);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes Nav--Links {
  from {
    opacity: 0;
  }
}

.Nav .container{
  padding-top: 85px;
}

.nav-cont{
  height: 0%;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 13;
}
.nav-cont.Nav-active{
  pointer-events: auto;
  height: 100%;
}
.nav-cont .bg-w {
  height: calc(150vh + 150vw);
  position: fixed;
  right: 0;
  top: 0;
  transform: rotate(45deg) translateY(-50%);
  transform-origin: center;
  width: calc(150vh + 150vw);
  /* background: rgba(252,249,250, 0.66); */
}
.nav-cont .inner-cont{
  height: 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
}
.nav-cont .inner-cont-w {
  align-items: center;
  display: flex;
  height: 100%;
}
/* Nav button shape */
.nav-btn-cont{
  color: #000;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 60px;
  height: 80px;
  z-index: 14;
}
.nav-btn-bg{

  height: 100%; width: 100%;
 
}

@media screen and (min-width: 768px){
  .nav-btn-cont{
    color: #fff;
    right: 0;
    top: 0;
    width: 228px;
    height: 228px;
  }

  .nav-btn-bg{
    background-color: #000;
    height: 100%; width: 100%;
    transform: rotate(45deg) translateY(-71%);
  }
}

/*Hamburger css */
.hamburger{
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 15px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
}

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 24px;
}
.hamburger-inner {
  top: auto;
  display: block;
  margin-top: -2px;
  bottom: 0;
  transition-delay: .13s;
  transition-timing-function: cubic-bezier(.55,.055,.675,.19);
  transition-duration: .13s;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  position: absolute;
  width: 43px;
  height: 5px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  background-color: #000;
}
.hamburger-inner:after, .hamburger-inner:before {
  display: block;
  content: "";
}
.hamburger-inner:before {
  transition: top .12s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);
  top: -10px;
}
.hamburger-inner:after {
  top: -20px;
  bottom: -10px;
  transition: top .2s cubic-bezier(.33333,.66667,.66667,1) .2s,opacity .1s linear;
}

.hamburger.is-active .hamburger-inner {
  transition-delay: .22s;
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transform: translate3d(0,-10px,0) rotate(-45deg);
}
.hamburger.is-active .hamburger-inner:before {
  top: 0;
  transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .16s,transform .13s cubic-bezier(.215,.61,.355,1) .25s;
  transform: rotate(-90deg);
}
.hamburger.is-active .hamburger-inner:after {
  top: 0;
  transition: top .2s cubic-bezier(.33333,0,.66667,.33333),opacity .1s linear .22s;
  opacity: 0;
}


@media screen and (min-width: 768px){
  .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background: #fff;
  }
}

.logo-w {
  background: 0;
  height: 160px;
  left: 0;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index:11;
} 

.-scroll .logo-w{
  background: #FCF9FA;
  opacity: 0.9;
}
@media screen and (min-width: 768px){
  .logo-w{
    height: 140px;
  }
}

.Nav-active .logo-w{
  height: 183px;
  max-width: 189px;
  left: 34px;
  background: 0;
}


.contact{
  align-self:center;
}
/* .contact-w{
  font-size: 3.3rem;
} */

.nav-camera-cta{
  z-index: 15;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
}
.camera{
  width: 372px;
  height: 356px;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}
.camera-w{
  /* left: 50%; */
  position: absolute;
  /* top: 0; */
  transform: translate(0, 50%);
}
.line-w{
  height: 0;
  left: calc(50vw - 50vh);
  opacity: .6;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
  transform-origin: top left;
  width: 150vh;
}
.line-inner-w{
  color: rgb(0, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.line{
  margin: 0 auto;
  transform-origin: center;
  opacity: 0;
  transform: translate(-100%, 0%) matrix(1, 0, 0, 1, 0, 0);
}
.Nav-active .line-inner-w{
  color: rgb(0, 0, 255);
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.Nav-active .line{
  width: 100%;
  transform: matrix(1, 0, 0, 1, 0, 0);
  opacity: 1;
  box-shadow: 0 0 0 1px rgba(9,16,8,.5);
}

@media screen and (max-width: 767px){
  .Nav-active .line{
    opacity: 0;
  }
}
@media screen and (max-width: 767px){
  .contact-w{
    display: none;
  }
}
/* Nav footer */
.nav-footer{
  display: none;
  left: 0px;
  bottom: 0;
  box-sizing: border-box;
  padding: 35px 0px;
  position: absolute;
  width: 100%;
}

.nav-footer-social{
  font-size: 30px;
  padding: 0 1rem;
}
.nav-footer svg{
  fill: #000;
  margin-right: 26px;
  
}

@media only screen and (min-width: 768px){
  .nav-footer{
    display: flex;
  }
  
}

@media only screen and (min-width: 1200px){
  .nav-footer svg{
    width: 64px;
    height:73px;
  }
}


/* MOBILE ONLY */
@media only screen and (max-width: 767px){
.Nav-active{
  background:rgba(255,255,255, 0.8);
}
.nav-cont .inner-cont-w{
  align-items: flex-start;
}
.logo-w{
  display: none;
}
.NavLink:hover,
.NavLink.active,
.NavLink:focus {
    color: #02894B;
  }
}