.ProjectSlider--w .BackgroundImage img{
    width: 100%;
}
.ProjectSlider--w .Slider{
    max-height: 500px;
}

.ProjectSlider--w .slider--thumbs{
    position: relative;
}

@media screen and (min-width: 1000px){
    .ProjectSlider--w .slider--thumbs{
        position: absolute;
        left: 0;
        width: 45%;
        bottom: -33px;
        height: 100px;
        display: flex;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .slider--thumbs .carousel__dot{
        /* height: 120px; */
        width: 100px;
        position: relative;
        margin: 0 14px 0 0;
        padding: 0;
        flex-shrink: 0;
        height: 100%;
        border: none;
        background: none;
        scroll-snap-align: start;
      }
}