.testimonial{
    position: relative;
}
.testimonial::before{
    content: '“';
    position: absolute;
    left: 8px;
    top: -15px;
    font-size: 64px;
    font-family: 'Cormorant Garamond', serif;

}
.testimonial::after{
    position: absolute;
    content: '“';
    bottom: -16px;
    right: 8px;
    font-size: 64px;
    font-family: 'Cormorant Garamond', serif;
    transform: rotate(180deg);
}

.testimonial--quoter{
    display: block;
    margin-top: 24px;
    margin-right: 8px;
}

@media screen and (min-width: 768px){
    .testimonial{
        padding: 0 75px;
    }
    .testimonial::before{
        left: -34px;
        font-size: 90px;
    }
    .testimonial::after{
        bottom: -56px;
        right: -34px;
        font-size: 90px;  
    }
    .testimonial--quoter{
        text-align: right;
    }
}